<div id="wrapper-navbar">
    <nav id="top" class="navbar py-3 fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-sm-5" href="/"><img  style="width:205 px;height:80px" src="assets/images/logo6.png" alt="image"></a>

        <button class="navbar-toggler collapsed navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="navBar">
                <li>
                    <a class="nav-link mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a class="nav-link mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="/destinations">
                        Destinations
                    </a>
                </li>

                 <li>
                    <a class="nav-link mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="/tours">
                        Tours
                    </a>
                </li>

                <li>
                    <a class="nav-link mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="/about">
                        About Us
                    </a>
                </li>

                <li>
                    <a class="nav-link mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="/contact">
                        Contact
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-3 my-lg-0 my-2 ml-lg-0 ml-3" href="#" id="navbarDropdown4"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Elements
                    </a>
                    <div class="dropdown-divider d-lg-none"></div>

                    <div class="dropdown-menu dropdownId dropdown-menu-right multi-column columns-2" aria-labelledby="navbarDropdown4">

                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class=" multi-column-dropdown">
                                    <a class="dropdown-item mt-1" href="accordions.html">Accordions</a>
                                    <div class="dropdown-divider ml-1"></div>
                                    <a class="dropdown-item" href="call-to-action.html">Call to Action Boxes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item mb-1" href="columns.html">Columns &amp; Separators </a>
                                    <div class="dropdown-divider d-lg-none"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class=" multi-column-dropdown">
                                    <a class="dropdown-item mt-1 mb-1" href="images-cols.html">Images with Columns</a>
                                    <div class="dropdown-divider "></div>
                                    <a class="dropdown-item mb-1" href="image-slider-popup.html">Image slider &amp;
                                        pop-ups</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item mb-1" href="video-gallery.html">Video Gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>-->


                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-menu-right  ml-lg-0 ml-3 mr-4 my-lg-0 my-2 lastitem"
                        href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-divider d-lg-none"></div>
                    <div class="dropdown-menu dropdownId dropdown-menu-right" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item mt-1" href="about.html">About Us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="our-team.html">Our Team</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item mb-1" href="contact.html">Contact Us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item mb-1" href="404-page.html">404 Page</a>
                    </div>
                </li>-->
            </ul>

            <div class="row d-none d-lg-block sidebartop">
                <div class="col-12 mr-4 sidebar">
                    <div class="mini-submenu">
                        <span class="icon-bar2"></span>
                        <span class="icon-bar2"></span>
                        <span class="icon-bar2"></span>
                    </div>
                    <div class="list-group">
                        <span class="list-group-item active">
                            <!--<img class="svgcenter mt-4 logo-light" src="assets/svgs/logolight.svg" alt="image">-->
                            <span class="pull-right" id="slide-submenu">
                                <i class="fa fa-times"></i>
                            </span>
                        </span>
                        <p class="white py-4 px-5 text-center  list-group-item light">
                            Best For You!
                        </p>
                        <ul class="list-group-item py-4">
                            <li>
                                <h5 class="white text-center"><i class="white fas fa-map-marker-alt mr-2"></i>Göreme Cappadocia, Turkey</h5>
                            </li>
                            <li>
                                <h5 class="white text-center"><i class="white fas fa-phone-square mr-2"></i>(+90) 545 231 1504</h5>
                            </li>
                            <li>
                                <h5 class="white text-center"><i class="white fas fa-envelope mr-2"></i>reservationsptt@gmail.com</h5>
                            </li>
                        </ul>
                        <div class="list-group-item text-center pt-4 ">
                            <h6>Follow Us</h6>
                            <ul class="text-center py-3">
                                <li class="list-inline-item"><a href="https://www.instagram.com/private.turkey.tour/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/private.turkey.tour/"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/private.turkey.tour/"><i
                                    class="fab fa-instagram"></i></a></li>
                            </ul>
                            <ul class="list-unstyled list-inline mt-3 social text-center">
                        <li class="list-inline-item"><a href="https://www.tripadvisor.com/Attraction_Review-g297983-d15619727-Reviews-Guided_Cappadocia_Tours-Goreme_Cappadocia.html"><image style="width:50px;height:50px;" src="/assets/images/triplogo2.png" ></image>  </a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/private.turkey.tour/"><image style="width:38px;height:50px;" src="/assets/images/getyourguideloco.png" ></image></a>  </a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.tripadvisor.com/Attraction_Review-g297983-d15619727-Reviews-Guided_Cappadocia_Tours-Goreme_Cappadocia.html"><image style="width:50px;height:50px;" src="/assets/images/vialogo.jpg" ></image>  </a>
                        </li>
                    

                    </ul>
                            <div class="list-group-item py-4">
                                <a href="/about" class="d-block white py-2">
                                    <i class="fa fa-users"></i> About Us
                                </a>
                                <a class="white d-block" href="/contact">
                                    <i class="fa fa-envelope"></i> Contact Us
                                </a>
                                <a style="margin-top:5px; "class="white d-block" href="/blog">
                                    <i class="fa fa-newspaper"></i> Blog
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<style>
    #current a{
        color:orange;
    }
</style>

<script>
    var node = document.getElementById("navBar").getElementsByTagName("li");
	var currentUrl = window.location.pathname;
	currentUrl = currentUrl.substr(1, currentUrl.length);
    if(currentUrl.length==0){
        currentUrl = "home";
    }
	for (var i = 0; i < node.length; i++) {
		str = node[i].innerText.replace(/\s+/g, '');
        currentUrl = currentUrl.replace(/[^a-zA-Z ]/g, "");
        console.log(currentUrl);
		if (str.toLowerCase().includes(currentUrl)) {
			node[i].id = "current";
			break;
		}
	}
</script>