<div style="margin-top:200px;" class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <a href="/panel/allcategories" class="btn btn-danger">All Categories</a>
    </div>
    <div class="col col-lg-2">
      <a href="/panel/alltours" class="btn btn-success">All Tours</a>
    </div>
    <div class="col col-lg-2">
      <a href="/panel/addcategory" class="btn btn-info">Add Category</a>
    </div>
    <div class="col col-lg-2">
      <a href="/panel/addtour" class="btn btn-warning">Add Tour</a>
    </div>
    <div class="col col-lg-2">
      <a href="/panel/editdisplay" class="btn btn-success">Site Displays</a>
    </div>
  </div>
</div>
