<div class="tour-title not-fixed center-image">

    <img class="w-100 h-100" src="assets/images/aboutus.jpg" alt="">
    <h1 class="white text-center front shadow-text center-text">About Us</h1>
    <img class="curve2 front" src="assets/svgs/curve.svg" alt="">

</div>
<!-- End section 1-->
<!-- Section 2 about us-->

<section id="section-newsletter">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 order-md-first order-last">
                <img src="assets/images/istanbulanimation.png" class="img-fluid mr-md-3 mr-0 img-border" alt="">
            </div>
            <div class="col-md-5 col-12 text-left my-auto">
                <h3 class="black bold front mb-2 mt-2 ">An Experienced Local Tour Operator</h3>
                <div class="separator "></div>
                <h5 class="primary-color section-titlemb-3">Travel with us</h5>
                <p class=" text-block  mb-md-0 mb-4">You will enjoy the accompany of our local tour guides. We provide
                    service in English, Spanish, Porteguese, Italian.
                    <br>Please contact us for other language options.<br> <br>You can directly contact us on whatsapp 24 hours.
                </p>
                <p></p>
            </div>
        </div>
    </div>

</section>

<section id="aboutsection">
    <img class="curve3" src="assets/svgs/curve2.svg" alt="">


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center  col-12">
                <h3 class="text-center pb-1 black bold">Who We Are</h3>
                <div class="separator text-center svgcenter"></div>
                <h5 class="m-0 pt-1 px-4 mb-4 text-center primary-color">A Local Tour Supplier</h5>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">
                    We are genuinely eager to share our rich history and cultural heritage with the world. Only aim is
                    to provide a relaxing and friendly travel agency with a firm focus on flexibility to customize any
                    tour for our travellers. Now we have taken our travel agency a step further to provide you with even
                    more choice by creating our new web site.
                </p>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">
                    Private Turkey Tour recognises the need for safe, hassle-free travel in Turkey. Being able to
                    contact us directly and filling out personal questionaires helps us retain the personal touch, that
                    is important to
                    our customers. We offer the most comprehensive range of travel products in Turkey and are constantly
                    creating new and exciting itineraries for our customers. Using our easy-to-use website, you can
                    browse and search the best travel plan for you.

                </p>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">
                    Our office is located in Goreme which is the center of Cappadocia. Being a local agent, run by local
                    people, gives us a head start. Our staff knows the destinations and tour operators personally, and
                    will use
                    their local knowledge so that you can have a truly Turkish experience.


                </p>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">
                    Plan your vacation with us and you will discover friendly and hospitable people, experience our rich
                    culture, enjoy the sunshine, blue skies, sandy beaches, crystal waters, and mouth-watering cuisine.
                    Our
                    tour packages are designed by highly experienced members of our team to offer you diversity, value
                    and affordability all combined with quality service in your chosen destination. You have the
                    flexibility to
                    combine any of our travel programs, or even create your own independent itinerary, choose your own
                    destination, hotels and how much time you will spend there. We design the itineraries ourselves and
                    are fully engaged in both organization and operation, so tours take their character from our
                    personal knowledge of the region and the sites visited. Your vacation is very important to us, and
                    with Guided
                    Cappadocia Tours, your high expectations will be met. We are a member of TURSAB (Turkish Travel
                    Agents Association).



                </p>
                <p class="text-block text-justify px-lg-5 px-1 mb-4 mb-md-5 black">

                    Wish to have you as our guest here in Cappadocia; the heart of Turkey.

                   <br><br> Sophia (Safiye in Turkish)




                </p>
                <!-- <img src="assets/images/newdestinations.jpg" class="img-fluid img-border" alt="">-->

            </div>
        </div>
    </div>

</section>



<!-- Footer -->
{{>footer}}