
         <!-- End section 1-->
        <div style="margin-top:300px;"></div>
        <section id="section3">                 
            <div class="container-fluid">
                <div class="row">
                    {{#each categories}}              
                    <div class="col-lg-3 col-sm-6 col-xs-12 mb-4 complete-image">
                        <a target="_self" class="" href="/panel/editcategory/{{_id}}" target="_blank">
                            <div class="destination-item">
                                <img src="assets/images/{{imageUrl}}" class="img-fluid destination-item" alt="costarica" >
                                <h6 class="white front">{{name}}</h6>              
                            </div>
                        </a>                  
                    </div>
                    {{/each}}
                </div>     
            </div>
        </section><!-- End section 2 Destinations-->
     
 

        <!-- Footer -->
       